<div class="logo"></div>
<nav>
    <ul class="sections">
        <% _.each(sections, function(section) { %>
            <% if (!section.isSmall) { %>
                <li title="<%= section.header %>" data-section="<%= section.path %>"></li>
            <% } %>
        <% }); %>
    </ul>
</nav>
<% if (languages.length > 1) { %>
    <ul class="languages">
        <% _.each(languages, function(language, index) { %>
            <li class="<%= (language === activeLanguage) ? "active" : ""%>" data-language="<%= language%>"><%= language.charAt(0).toUpperCase() + language.slice(1) %></li>
            <% if (index < languages.length - 1) { %>
                <li class="separator">/</li>
            <% } %>
        <% }); %>
    </ul>
<% } %>
