<% _.each(boxes, function(box) { %>
    <section id="Box-<%= box.id %>" class="gridbox">
        <header><%= box.header %></header>
        <% if (!_.isEmpty(box.content)) {
            var projectIndex = Math.floor(Math.random() * box.content.length);
            _.each(box.content, function(project, index) {
                if (project.isNew) {
                    projectIndex = index;
                }
            });
        %>
            <article>
                <% if (box.content[projectIndex].headerShort !== "") { %>
                    <div class="headerShort"><%= box.content[projectIndex].headerShort %><% if (box.content[projectIndex].isNew) { %><span class="new"> (!!!<%= newString %>!!!)</span><% } %></div>
                <% } %>
                <% if (!_.isEmpty(box.content[projectIndex].images) && box.content[projectIndex].images[0].image !== "") { %>
                    <img src="<%= box.content[projectIndex].images[0].image %>">
                <% } %>
                <% if (box.isSmall !== true) { %>
                    <% if (box.content[projectIndex].descriptionShort !== "") { %>
                        <p class="description"><%= box.content[projectIndex].descriptionShort %></p>
                    <% } %>
                    <% if (!_.isUndefined(box.projects)) { %>
                        <div class="projects">
                            <div class="projectsheader"><%= box.projects %></div>
                            <ul class="projectslist">
                                <% _.each(box.content, function(project) { %>
                                <li><% if (project.isNew) { %><span class="new"><%= newString %></span><span> - </span><% } %><%= project.headerShort %></li>
                                <% }); %>
                            </ul>
                        </div>
                    <% } %>
                <% } %>
            </article>
        <% } %>
    </section>
<% }); %>
